In [4]:
import pandas as pd

In [2]:
df = {'name':['김','장','신'],'age':[1,2,3]}

In [6]:
df

{'name': ['김', '장', '신'], 'age': [1, 2, 3]}

In [7]:
df = pd.DataFrame(df)

In [8]:
df

  name  age
0    김    1
1    장    2
2    신    3